html {
}

body {
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;

  background-image: linear-gradient(to bottom, #ebebeb, #d3d3d3);
  background-repeat: no-repeat;
}
/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}

img {
  display: block;
}


.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  color: inherit;
}

.map {
  position: relative;
}

.title {
  position: absolute;
  top: 200px;
  left: 1400px;

  font-size: 22px;
  border: none;
  min-width: 150px;
  padding: 6px 20px;

  z-index: 15;
  background-color: #4ca8f9;
  color: white;
  border-radius: 7px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.75);
  cursor: pointer;

  font-size: 20px;
  font-weight: 700;

  opacity: 0;
  transition: opacity 500ms ease;
}

.latency-time {
  z-index: 6;
  background-color: #4ca8f9;
  border-radius: 7px;

  padding: 6px 20px;

  color: white;
  font-size: 12px;
  font-weight: 600;
}

.title:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
}

.latency-time {
  z-index: 6;
  background-color: #4ca8f9;
  border-radius: 7px;
}

.title.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__background {
  position: relative;
  top: 0;
  left: 0;

  z-index: -2;
}

/* usa --------------------------------------------------*/

.man__image--small.north-america.active {
  position: absolute;
  top: 391px;
  left: 306px;
  z-index: 7;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--small.north-america {
  position: absolute;
  top: 391px;
  left: 306px;
  z-index: 7;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man_filled__image--small.north-america {
  position: absolute;
  top: 391px;
  left: 306px;
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--small.north-america.active:hover {
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--small.north-america.active:hover
  ~ .man_filled__image--small.north-america {
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--medium.north-america.active {
  position: absolute;
  top: 382px;
  left: 348px;
  z-index: 7;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--medium.north-america {
  position: absolute;
  top: 382px;
  left: 348px;
  z-index: 7;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man_filled__image--medium.north-america {
  position: absolute;
  top: 382px;
  left: 348px;
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--medium.north-america.active:hover,
.man__image--medium.north-america.active:hover
  ~ .man__image--small.north-america {
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--medium.north-america.active:hover
  ~ .man_filled__image--medium.north-america,
.man__image--medium.north-america.active:hover
  ~ .man_filled__image--small.north-america {
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--big.north-america.active {
  position: absolute;
  top: 373px;
  left: 395px;
  z-index: 7;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--big.north-america {
  position: absolute;
  top: 373px;
  left: 395px;
  z-index: 7;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man_filled__image--big.north-america {
  position: absolute;
  top: 373px;
  left: 395px;
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--big.north-america.active:hover,
.man__image--big.north-america.active:hover ~ .man__image--medium.north-america,
.man__image--big.north-america.active:hover ~ .man__image--small.north-america {
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--big.north-america.active:hover
  ~ .man_filled__image--big.north-america,
.man__image--big.north-america.active:hover
  ~ .man_filled__image--medium.north-america,
.man__image--big.north-america.active:hover
  ~ .man_filled__image--small.north-america {
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms ease;
}

.latency-time.north-america {
  position: absolute;
  top: 306px;
  left: 288px;

  opacity: 0;
  transition: opacity 500ms ease;
}

.latency-time.north-america.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device__image--large.north-america {
  position: absolute;
  top: 398px;
  left: 331px;
  z-index: 4;
  width: 86px;
  height: 86px;

  background-image: url("./images/files/phone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--large.north-america {
  position: absolute;
  bottom: 17.68px;
  left: 32.68px;
  z-index: 5;

  transform: rotate(-60deg);

  object-fit: cover;
  object-position: 150% 0;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--large.north-america.tron {
  width: 10px;
}

.device__image--large.north-america.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device-display__image--large.north-america.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device__image--medium.north-america {
  position: absolute;
  top: 353px;
  left: 264px;
  z-index: 4;
  width: 86px;
  height: 86px;

  background-image: url("./images/files/laptop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--medium.north-america {
  position: absolute;
  bottom: 28.18px;
  left: 17.49px;
  z-index: 5;

  object-fit: cover;
  object-position: 0 150%;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device__image--medium.north-america.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device-display__image--medium.north-america.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device__image--small.north-america {
  position: absolute;
  top: 344px;
  left: 405px;
  z-index: 4;
  width: 86px;
  height: 86px;

  background-image: url("./images/files/display.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--small.north-america {
  position: absolute;
  bottom: 24.67px;
  left: 22.69px;
  z-index: 5;

  object-fit: cover;
  object-position: 0 150%;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device__image--small.north-america.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device-display__image--small.north-america.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

/* south-america -------------------------------------------*/

.man__image--small.south-america.active {
  position: absolute;
  top: 657px;
  left: 479px;
  z-index: 7;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--small.south-america {
  position: absolute;
  top: 657px;
  left: 479px;
  z-index: 7;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man_filled__image--small.south-america {
  position: absolute;
  top: 657px;
  left: 479px;
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--small.south-america.active:hover {
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--small.south-america.active:hover
  ~ .man_filled__image--small.south-america {
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--medium.south-america.active {
  position: absolute;
  top: 648px;
  left: 521px;
  z-index: 7;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--medium.south-america {
  position: absolute;
  top: 648px;
  left: 521px;
  z-index: 7;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man_filled__image--medium.south-america {
  position: absolute;
  top: 648px;
  left: 521px;
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--medium.south-america.active:hover,
.man__image--medium.south-america.active:hover
  ~ .man__image--small.south-america.active {
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--medium.south-america.active:hover
  ~ .man_filled__image--medium.south-america,
.man__image--medium.south-america.active:hover
  ~ .man_filled__image--small.south-america {
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--big.south-america.active {
  position: absolute;
  top: 639px;
  left: 568px;
  z-index: 7;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--big.south-america {
  position: absolute;
  top: 639px;
  left: 568px;
  z-index: 7;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man_filled__image--big.south-america {
  position: absolute;
  top: 639px;
  left: 568px;
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--big.south-america.active:hover,
.man__image--big.south-america.active:hover
  ~ .man__image--medium.south-america.active,
.man__image--big.south-america.active:hover
  ~ .man__image--small.south-america.active {
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--big.south-america.active:hover
  ~ .man_filled__image--big.south-america,
.man__image--big.south-america.active:hover
  ~ .man_filled__image--medium.south-america,
.man__image--big.south-america.active:hover
  ~ .man_filled__image--small.south-america {
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms ease;
}

.latency-time.south-america {
  position: absolute;
  top: 676px;
  left: 343px;

  opacity: 0;
  transition: opacity 500ms ease;
}

.latency-time.south-america.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device__image--large.south-america {
  position: absolute;
  top: 625px;
  left: 540px;
  z-index: 4;
  width: 86px;
  height: 86px;

  background-image: url("./images/files/phone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--large.south-america {
  position: absolute;
  bottom: 17.68px;
  left: 32.68px;
  z-index: 5;

  transform: rotate(-60deg);

  object-fit: cover;
  object-position: 150% 0;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--large.south-america.tron {
  width: 10px;
}

.device__image--large.south-america.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device-display__image--large.south-america.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device__image--medium.south-america {
  position: absolute;
  top: 593px;
  left: 461px;
  z-index: 4;
  width: 86px;
  height: 86px;

  background-image: url("./images/files/laptop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--medium.south-america {
  position: absolute;
  bottom: 28.18px;
  left: 17.49px;
  z-index: 5;

  object-fit: cover;
  object-position: 0 150%;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device__image--medium.south-america.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device-display__image--medium.south-america.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device__image--small.south-america {
  position: absolute;
  top: 657px;
  left: 490px;
  z-index: 4;
  width: 86px;
  height: 86px;

  background-image: url("./images/files/display.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--small.south-america {
  position: absolute;
  bottom: 24.67px;
  left: 22.69px;
  z-index: 5;

  object-fit: cover;
  object-position: 0 150%;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device__image--small.south-america.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device-display__image--small.south-america.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

/* asia -------------------------------------------*/

.man__image--small.asia.active {
  position: absolute;
  top: 428px;
  left: 1186px;
  z-index: 7;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--small.asia {
  position: absolute;
  top: 428px;
  left: 1186px;
  z-index: 7;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man_filled__image--small.asia {
  position: absolute;
  top: 428px;
  left: 1186px;
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--small.asia.active:hover {
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--small.asia.active:hover ~ .man_filled__image--small.asia {
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--medium.asia.active {
  position: absolute;
  top: 419px;
  left: 1228px;
  z-index: 7;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--medium.asia {
  position: absolute;
  top: 419px;
  left: 1228px;
  z-index: 7;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man_filled__image--medium.asia {
  position: absolute;
  top: 419px;
  left: 1228px;
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--medium.asia.active:hover,
.man__image--medium.asia.active:hover ~ .man__image--small.asia.active {
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--medium.asia.active:hover ~ .man_filled__image--medium.asia,
.man__image--medium.asia.active:hover ~ .man_filled__image--small.asia {
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--big.asia.active {
  position: absolute;
  top: 410px;
  left: 1275px;
  z-index: 7;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--big.asia {
  position: absolute;
  top: 410px;
  left: 1275px;
  z-index: 7;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man_filled__image--big.asia {
  position: absolute;
  top: 410px;
  left: 1275px;
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--big.asia.active:hover,
.man__image--big.asia.active:hover ~ .man__image--medium.asia.active,
.man__image--big.asia.active:hover ~ .man__image--small.asia.active {
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--big.asia.active:hover ~ .man_filled__image--big.asia,
.man__image--big.asia.active:hover ~ .man_filled__image--medium.asia,
.man__image--big.asia.active:hover ~ .man_filled__image--small.asia {
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms ease;
}

.latency-time.asia {
  position: absolute;
  top: 412px;
  left: 1181px;

  opacity: 0;
  transition: opacity 500ms ease;
}

.latency-time.asia.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device__image--large.asia {
  position: absolute;
  top: 440px;
  left: 1254px;
  z-index: 4;
  width: 86px;
  height: 86px;

  background-image: url("./images/files/phone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--large.asia {
  position: absolute;
  bottom: 17.68px;
  left: 32.68px;
  z-index: 5;

  transform: rotate(-60deg);

  object-fit: cover;
  object-position: 150% 0;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--large.asia.tron {
  width: 10px;
}

.device__image--large.asia.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device-display__image--large.asia.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device__image--medium.asia {
  position: absolute;
  top: 456px;
  left: 1110px;
  z-index: 4;
  width: 86px;
  height: 86px;

  background-image: url("./images/files/laptop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--medium.asia {
  position: absolute;
  bottom: 28.18px;
  left: 17.49px;
  z-index: 5;

  object-fit: cover;
  object-position: 0 150%;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device__image--medium.asia.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device-display__image--medium.asia.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device__image--small.asia {
  position: absolute;
  top: 345px;
  left: 1320px;
  z-index: 4;
  width: 86px;
  height: 86px;

  background-image: url("./images/files/display.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--small.asia {
  position: absolute;
  bottom: 24.67px;
  left: 22.69px;
  z-index: 5;

  object-fit: cover;
  object-position: 0 150%;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device__image--small.asia.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device-display__image--small.asia.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

/* oceania -------------------------------------------*/

.man__image--small.oceania.active {
  position: absolute;
  top: 722px;
  left: 1323px;
  z-index: 7;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--small.oceania {
  position: absolute;
  top: 722px;
  left: 1323px;
  z-index: 7;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man_filled__image--small.oceania {
  position: absolute;
  top: 722px;
  left: 1323px;
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--small.oceania.active:hover {
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--small.oceania.active:hover ~ .man_filled__image--small.oceania {
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--medium.oceania.active {
  position: absolute;
  top: 713px;
  left: 1365px;
  z-index: 7;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--medium.oceania {
  position: absolute;
  top: 713px;
  left: 1365px;
  z-index: 7;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man_filled__image--medium.oceania {
  position: absolute;
  top: 713px;
  left: 1365px;
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--medium.oceania.active:hover,
.man__image--medium.oceania.active:hover ~ .man__image--small.oceania.active {
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--medium.oceania.active:hover ~ .man_filled__image--medium.oceania,
.man__image--medium.oceania.active:hover ~ .man_filled__image--small.oceania {
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--big.oceania.active {
  position: absolute;
  top: 704px;
  left: 1412px;
  z-index: 7;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--big.oceania {
  position: absolute;
  top: 704px;
  left: 1412px;
  z-index: 7;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man_filled__image--big.oceania {
  position: absolute;
  top: 704px;
  left: 1412px;
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--big.oceania.active:hover,
.man__image--big.oceania.active:hover ~ .man__image--medium.oceania.active,
.man__image--big.oceania.active:hover ~ .man__image--small.oceania.active {
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--big.oceania.active:hover ~ .man_filled__image--big.oceania,
.man__image--big.oceania.active:hover ~ .man_filled__image--medium.oceania,
.man__image--big.oceania.active:hover ~ .man_filled__image--small.oceania {
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms ease;
}

.latency-time.oceania {
  position: absolute;
  top: 645px;
  left: 1336px;

  opacity: 0;
  transition: opacity 500ms ease;
}

.latency-time.oceania.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device__image--large.oceania {
  position: absolute;
  top: 705px;
  left: 1355px;
  z-index: 4;
  width: 86px;
  height: 86px;

  background-image: url("./images/files/phone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--large.oceania {
  position: absolute;
  bottom: 17.68px;
  left: 32.68px;
  z-index: 5;

  transform: rotate(-60deg);

  object-fit: cover;
  object-position: 150% 0;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--large.oceania.tron {
  width: 10px;
}

.device__image--large.oceania.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device-display__image--large.oceania.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device__image--medium.oceania {
  position: absolute;
  top: 695px;
  left: 1288px;
  z-index: 4;
  width: 86px;
  height: 86px;

  background-image: url("./images/files/laptop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--medium.oceania {
  position: absolute;
  bottom: 28.18px;
  left: 17.49px;
  z-index: 5;

  object-fit: cover;
  object-position: 0 150%;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device__image--medium.oceania.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device-display__image--medium.oceania.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device__image--small.oceania {
  position: absolute;
  top: 693px;
  left: 1415px;
  z-index: 4;
  width: 86px;
  height: 86px;

  background-image: url("./images/files/display.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--small.oceania {
  position: absolute;
  bottom: 24.67px;
  left: 22.69px;
  z-index: 5;

  object-fit: cover;
  object-position: 0 150%;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device__image--small.oceania.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device-display__image--small.oceania.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

/* europe -------------------------------------------*/

.man__image--small.europe.active {
  position: absolute;
  top: 369px;
  left: 813px;
  z-index: 7;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--small.europe {
  position: absolute;
  top: 369px;
  left: 813px;
  z-index: 7;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man_filled__image--small.europe {
  position: absolute;
  top: 369px;
  left: 813px;
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--small.europe.active:hover {
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--small.europe.active:hover ~ .man_filled__image--small.europe {
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--medium.europe.active {
  position: absolute;
  top: 360px;
  left: 855px;
  z-index: 7;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--medium.europe {
  position: absolute;
  top: 360px;
  left: 855px;
  z-index: 7;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man_filled__image--medium.europe {
  position: absolute;
  top: 360px;
  left: 855px;
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--medium.europe.active:hover,
.man__image--medium.europe.active:hover ~ .man__image--small.europe.active {
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--medium.europe.active:hover ~ .man_filled__image--medium.europe,
.man__image--medium.europe.active:hover ~ .man_filled__image--small.europe {
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--big.europe.active {
  position: absolute;
  top: 351px;
  left: 902px;
  z-index: 7;
  opacity: 1;
  transition: opacity 500ms ease;
}

.man__image--big.europe {
  position: absolute;
  top: 351px;
  left: 902px;
  z-index: 7;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man_filled__image--big.europe {
  position: absolute;
  top: 351px;
  left: 902px;
  z-index: 0;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--big.europe.active:hover,
.man__image--big.europe.active:hover ~ .man__image--medium.europe.active,
.man__image--big.europe.active:hover ~ .man__image--small.europe.active {
  cursor: pointer;
  opacity: 0;
  transition: opacity 500ms ease;
}

.man__image--big.europe.active:hover ~ .man_filled__image--big.europe,
.man__image--big.europe.active:hover ~ .man_filled__image--medium.europe,
.man__image--big.europe.active:hover ~ .man_filled__image--small.europe {
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms ease;
}

.latency-time.europe {
  position: absolute;
  top: 272px;
  left: 769px;

  opacity: 0;
  transition: opacity 500ms ease;
}

.latency-time.europe.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device__image--large.europe {
  position: absolute;
  top: 345px;
  left: 858px;
  z-index: 4;
  width: 86px;
  height: 86px;

  background-image: url("./images/files/phone.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--large.europe {
  position: absolute;
  bottom: 17.68px;
  left: 32.68px;
  z-index: 5;

  transform: rotate(-60deg);

  object-fit: cover;
  object-position: 150% 0;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--large.europe.tron {
  width: 10px;
}

.device__image--large.europe.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device-display__image--large.europe.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device__image--medium.europe {
  position: absolute;
  top: 398.81px;
  left: 743.23px;
  z-index: 4;
  width: 86px;
  height: 86px;

  background-image: url("./images/files/laptop.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--medium.europe {
  position: absolute;
  bottom: 28.18px;
  left: 17.49px;
  z-index: 5;

  object-fit: cover;
  object-position: 0 150%;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device__image--medium.europe.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device-display__image--medium.europe.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device__image--small.europe {
  position: absolute;
  top: 307.01px;
  left: 978.26px;
  z-index: 4;
  width: 86px;
  height: 86px;

  background-image: url("./images/files/display.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  opacity: 0;
  transition: opacity 500ms ease;
}

.device-display__image--small.europe {
  position: absolute;
  bottom: 24.67px;
  left: 22.69px;
  z-index: 5;

  object-fit: cover;
  object-position: 0 150%;

  opacity: 0;
  transition: opacity 500ms ease;
}

.device__image--small.europe.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.device-display__image--small.europe.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

/* Back drop */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  overflow: scroll;

  background: rgba(0, 0, 0, 0.2);

  transition: opacity 500ms ease;
  opacity: 1;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: opacity 500ms ease;
}

/* TABLE------------------------------------------ */
.table {
  width: 420px;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
  border-radius: 6px;

  background: #f7f7f7;
}

.table:last-child {
  margin-bottom: 0;
}

.table__row:nth-child(3) {
  border-top: 1.2px solid #4ca8f9;
  border-bottom: 1.2px solid #4ca8f9;
}

.table__cell--head {
  font-size: 18px;
  font-weight: 700;
  padding-bottom: 24px;
  text-align: center;
}

.table__cell:first-child {
  width: 180px;
}

.table__cell--top {
  text-align: center;
  padding-top: 6px;
  padding-bottom: 3px;

  text-transform: capitalize;
  font-weight: bold;
}

.table__cell--star {
  padding-top: 0px;
  padding-bottom: 6px;
}

.star {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table__cell:not(:last-child) {
  border-right: 1.2px solid #4ca8f9;
}

.table__cell {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;

  font-size: 11px;
  font-weight: 500;
}

.answer {
  text-decoration: underline;
}

.modal__tables {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}

.btn__close {
  position: absolute;
  top: 18px;
  right: 18px;

  padding: 0;
  border: none;
  margin: 0;
  cursor: pointer;
  background-color: transparent;
}

.btn__download {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  padding: 0;
  border: none;
  margin-top: 24px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  background-color: transparent;

  font-size: 14px;
  font-weight: 500;
}

.modal {
  position: relative;

  width: 940px;
  background-color: white;
  padding: 40px 40px 18px 40px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

/* SERVERS------------------------------------------------- */

/* East-USA--------------------- */
.circle__image--filled.east-usa,
.circle__image--pushed.east-usa {
  position: absolute;
  bottom: 575px;
  left: 236px;
  z-index: 2;

  opacity: 0;
  transition: opacity 500ms ease;
}

.circle__image--filled.east-usa.active,
.circle__image--pushed.east-usa.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.circle__image--empty.east-usa.active:hover {
  opacity: 0;
  transition: opacity 500ms ease;
}

.circle__image--empty.east-usa.active:hover ~ .circle__image--filled.east-usa {
  opacity: 1;
  transition: opacity 500ms ease;
}

.circle__image--empty.east-usa {
  cursor: pointer;
  position: absolute;
  bottom: 575px;
  left: 236px;
  z-index: 3;

  opacity: 0;
  transition: opacity 500ms ease;
}

.circle__image--empty.east-usa.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.server__image.east-usa {
  position: absolute;
  top: 390px;
  left: 240px;
  z-index: 1;

  opacity: 0;
  transition: opacity 500ms ease;
}

.server__image.east-usa.red {
  top: 390px;
  left: 198px;
}

.server__image.east-usa.active {
  opacity: 1;
  transition: opacity 2000ms ease;
}

/* West-USA--------------------- */
.circle__image--filled.west-usa,
.circle__image--pushed.west-usa {
  position: absolute;
  bottom: 615px;
  left: 477px;

  z-index: 2;

  opacity: 0;
  transition: opacity 500ms ease;
}

.circle__image--filled.west-usa.active,
.circle__image--pushed.west-usa.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.circle__image--empty.west-usa.active:hover {
  opacity: 0;
  transition: opacity 500ms ease;
}

.circle__image--empty.west-usa.active:hover ~ .circle__image--filled.west-usa {
  opacity: 1;
  transition: opacity 500ms ease;
}

.circle__image--empty.west-usa {
  cursor: pointer;
  position: absolute;
  bottom: 615px;
  left: 477px;

  z-index: 3;

  opacity: 0;
  transition: opacity 500ms ease;
}

.circle__image--empty.west-usa.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.server__image.west-usa {
  position: absolute;
  top: 325px;
  left: 490px;

  z-index: 1;

  opacity: 0;
  transition: opacity 500ms ease;
}

.server__image.west-usa.red {
  top: 335px;
  left: 480px;
}

.server__image.west-usa.active {
  opacity: 1;
  transition: opacity 2000ms ease;
}

/* Singapore-USA--------------------- */
.circle__image--filled.singapore,
.circle__image--pushed.singapore {
  position: absolute;
  bottom: 383px;
  left: 1241px;
  z-index: 2;

  opacity: 0;
  transition: opacity 500ms ease;
}

.circle__image--filled.singapore.active,
.circle__image--pushed.singapore.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.circle__image--empty.singapore.active:hover {
  opacity: 0;
  transition: opacity 500ms ease;
}

.circle__image--empty.singapore.active:hover
  ~ .circle__image--filled.singapore {
  opacity: 1;
  transition: opacity 500ms ease;
}

.circle__image--empty.singapore {
  cursor: pointer;
  position: absolute;
  bottom: 383px;
  left: 1241px;
  z-index: 3;

  opacity: 0;
  transition: opacity 500ms ease;
}

.circle__image--empty.singapore.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.server__image.singapore {
  position: absolute;
  top: 560px;
  left: 1265px;
  z-index: 1;

  opacity: 0;
  transition: opacity 500ms ease;
}

.server__image.singapore.red {
  top: 569px;
  left: 1234px;
}

.server__image.singapore.active {
  opacity: 1;
  transition: opacity 2000ms ease;
}

/* Germany-USA--------------------- */
.circle__image--filled.germany,
.circle__image--pushed.germany {
  position: absolute;
  bottom: 638px;
  left: 804px;
  z-index: 2;

  opacity: 0;
  transition: opacity 500ms ease;
}

.circle__image--filled.germany.active,
.circle__image--pushed.germany.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.circle__image--empty.germany.active:hover {
  opacity: 0;
  transition: opacity 500ms ease;
}

.circle__image--empty.germany.active:hover ~ .circle__image--filled.germany {
  opacity: 1;
  transition: opacity 500ms ease;
}

.circle__image--empty.germany {
  position: absolute;
  bottom: 638px;
  left: 804px;
  z-index: 3;

  opacity: 0;
  transition: opacity 500ms ease;
}

.circle__image--empty.germany.active {
  cursor: pointer;
  opacity: 1;
  transition: opacity 500ms ease;
}

.server__image.germany {
  position: absolute;
  top: 317px;
  left: 810px;
  z-index: 1;

  opacity: 0;
  transition: opacity 500ms ease;
}

.server__image.germany.red {
  top: 315px;
  left: 780px;
}

.server__image.germany.active {
  opacity: 1;
  transition: opacity 2000ms ease;
}
/* Arrows ------------------------------- */
/* East-USA */

.arrow {
  width: 1680px;
  height: 1024px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  opacity: 0;
  transition: opacity 500ms ease;
}

.arrow.active {
  opacity: 1;
  transition: opacity 500ms ease;
}

.arrow.animation {
  animation: opa 2s ease infinite;
}

@keyframes opa {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 0.4;
  }
  30% {
    opacity: 0.6;
  }
  40% {
    opacity: 0.8;
    filter: contrast(200%);
  }
  50% {
    opacity: 1;
    filter: contrast(400%);
  }
  60% {
    opacity: 0.8;
    filter: contrast(200%);
  }
  70% {
    opacity: 0.6;
  }
  80% {
    opacity: 0.4;
  }
  100% {
    opacity: 0.2;
  }
}
